@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap');
head,body{
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
}
body{
  background-color: #fff;
}
.header{
  margin: 0;
  letter-spacing: 2px;
  padding: 30px 0px 10px;
  text-align: center;
  color:#01ffb3;
  background-color: rgb(0, 0, 0);
  height: 50px;
}
#h1{
  font-size: 40px;
  font-weight: 600;
}
.header2{
  margin: 0 auto;
  margin-top: 30px;
  letter-spacing: 2px;
  padding: 2px;
  width: 700px;
  color: #11324D;
}
#searchbar{
  width: 100%;
  padding: 10px auto;
  height: 50px;

  margin-bottom: 30px;
}
.searchoutput{
  display: flex;
    display: flex;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  margin-bottom: 30px;
}
.img{

  padding-right: 120px;
  border-radius: 20px;
}
.Details{
  padding-top: 10px;
}
.Details h1{
  font-size: 50px;
}
.stats{
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}
