body{
  background-color: rgb(116, 113, 113);
}
.header{
  padding: 30px 0px 10px;
  text-align: center;
  color:rgb(0, 0, 0);
  background-color: rgb(230, 224, 224);
  height: 50px;
}
#h1{
  font-size: 40px;
  font-weight: 600;
}
.header2{
  margin: 0 auto;
  margin-top: 30px;
  width: 700px;
}
#searchbar{
  width: 100%;
  padding: 10px auto;
  height: 50px;
  font-size: 22px;
  margin: auto;
  margin-bottom: 30px;
}
.searchoutput{
  display: flex;
    display: flex;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
  margin-bottom: 30px;
}
.img{
  padding-right: 120px;
}
.Details{
  padding-top: 10px;
}
.Details h1{
  font-size: 50px;
}
.stats{
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}
